# Only removes comments for which the pound sign is the first char on that line

# Debug value. (True or False)
debug=True

# Host IP to run server on. Change to 0.0.0.0 if running on AWS.
host=127.0.0.1

# Port to run the server on
port=5015

# Database
db=mysql

# Database user
dbuser=mydatabaseuser

# Database password
dbpass=mydatabasesecretpassword

# Database host where mysql is running
dbhost=localhost

# Database name
dbname=mymftrackdb

# Secret key
secretkey=Aenergeekaynneedherbeeycreyaitaidnohrbeiydeistroid