<!DOCTYPE html>

<html>
    <head>
        <title>WELCOME</title>
        <link href="static/bootswatch/bootstrap.css" rel="stylesheet" media="screen"/>
        <script src="static/js/jquery-1.10.2.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '743097769042094',
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any authentication related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      // The response object is returned with a status field that lets the app know the current
      // login status of the person. In this case, we're handling the situation where they 
      // have logged in to the app.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // In this case, the person is logged into Facebook, but not into the app, so we call
      // FB.login() to prompt them to do so. 
      // In real-life usage, you wouldn't want to immediately prompt someone to login 
      // like this, for two reasons:
      // (1) JavaScript created popup windows are blocked by most browsers unless they 
      // result from direct interaction from people using the app (such as a mouse click)
      // (2) it is a bad experience to be continually prompted to login upon page load.
      FB.login();
    } else {
      // In this case, the person is not logged into Facebook, so we call the login() 
      // function to prompt them to do so. Note that at this stage there is no indication
      // of whether they are logged into the app. If they aren't then they'll see the Login
      // dialog right after they log in to Facebook. 
      // The same caveats as above apply to the FB.login() call here.
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Good to see you, ' + response.name + '.');
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
    

    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1><b>Mutual Fund</b> Track</h1>
            <p class="lead">All your mutual funds at one place</p>
          </div>
        </div>
      </div>

    	{% with msgs = get_flashed_messages() %}
    	{% if msgs %}
    		{% for msg in msgs %}
		      <div class="alert alert-dismissable alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<b>{{ msg }}<b>
		      </div>
    		{% endfor %}
		{% endif %}
		{% endwith %}
    
	<h3>Summary: </h3>
        <table>
		<tr>
			<td>
				<div style="font-size: 1.3em;">Total amount invested:</div>
			</td>
			<td>
				{{ stats['total_amount_invested'] }}
			</td>
		</tr>
		<tr>
			<td>
				<div style="font-size: 1.3em;">Current value:</div>
			</td>
			<td>
				{{ stats['total_amount_now'] }}
			</td>
		</tr>
		<tr>
			<td>
				<div style="font-size: 1.3em;">Gains:</div>
			</td>
			<td>
				{{  stats['total_gains']  }} ({{ stats['percentage_gains'] }})
			</td>
		</tr>
        </table>
		<br>

		<div class="bs-example table-responsive">
		<h3>Investment Details: </h3>

			<table class="table table-striped table-hover">
			<thead>
				<tr class="info">
					<th>Fund</th>
					<th>Units</th>
					<th>Amount Invested</th>
					<th>Current value</th>
					<th>Percent Gains</th>
					<th>Annualized %</th>
				</tr>
			</thead>
				{% for mf in mf_dict %}
				<tr>
					<td>{{ mf }}</td>
					<td>{{ mf_dict[mf]['total_units'] }}</td>
					<td>{{ mf_dict[mf]['total_amount_invested'] }}</td>
					<td>{{ mf_dict[mf]['total_amount_now'] }}</td>
					<td>{{ mf_dict[mf]['percentage_gains'] }}</td>
					<td>{{ mf_dict[mf]['annualized_gains'] }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<br>
		<hr>
		
		<h3>Add more data:</h4>
    	<form method="post">
		<textarea class="form-control" rows="3"  name='inputText'></textarea>

		<div style="padding-top: 20px; padding-bottom: 20px">
			<div style="font-size: 1.5em"> Mutual Fund:
			<select name='amc'>
				<option value="uti">UTI</option>
				<option value="icici">ICICI Prudential</option>
			</select>
		</div>
		</div>
		<br>
		<button class="btn btn-primary btn-lg" type="submit">Submit</button>
    	</form>
	</div>
    </body>
</html>
