<!DOCTYPE html>

<html>
    <head>
        <title>WELCOME</title>
        <link href="static/bootswatch/bootstrap.css" rel="stylesheet" media="screen"/>
        <script src="static/js/jquery-1.10.2.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
    

    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1><b>Mutual Fund</b> Track</h1>
            <p class="lead">All your mutual funds at one place</p>
          </div>
        </div>
      </div>

    	{% with msgs = get_flashed_messages() %}
    	{% if msgs %}
    		{% for msg in msgs %}
    			<h1>{{ msg }}</h1>
    		{% endfor %}
		{% endif %}
		{% endwith %}
    
    	<b>Important statistics: </b><br>
        Total amount invested: {{ stats['total_amount_invested'] }} <br>
        Total amount now: {{ stats['total_amount_now'] }} <br>
        Total gains: {{ stats['total_amount_now'] - stats['total_amount_invested'] }} <br>
        Percentage gains: {{ stats['percentage_gains'] }} <br>
		<br>

		<table border="1">
			<tr>
				<td>Fund name</td> 
				<td>Units</td> 
				<td>Amount Invested</td> 
				<td>Current value of investment</td> 
				<td>Percentage Gains</td> 
				<td>Average holding period</td> 
				<td>Annualized Gains</td> 
			</tr>
			{% for mf in mf_dict %}
			<tr>
				<td>{{ mf }}</td> 
				<td>{{ mf_dict[mf]['total_units'] }}</td> 
				<td>{{ mf_dict[mf]['total_amount_invested'] }}</td> 
				<td>{{ mf_dict[mf]['total_amount_now'] }}</td> 
				<td>{{ mf_dict[mf]['percentage_gains'] }}</td> 
				<td>{{ mf_dict[mf]['average_holding_period'] }}</td> 
				<td>{{ mf_dict[mf]['annualized_gains'] }}</td> 
			</tr>
			{% endfor %}
		</table>
		
    	Input you data here:
    	<form method="post">
	    	<textarea name='inputText'></textarea>
	    	<input name='amc' placeholder='uti'></input>
	    	<button type="submit">Submit</button>
    	</form>
	</div>
    </body>
</html>