<!DOCTYPE html>

<html>
    <head>
        <title>WELCOME</title>
    </head>

    <body>
    	<b>Important statistics: </b><br>
        Total amount invested: {{ stats['total_amount_invested'] }} <br>
        Total amount now: {{ stats['total_amount_now'] }} <br>
        Percentage gains: {{ stats['percentage_gains'] }} <br>
		<br>    	
    	Input you data here:
    	<form method="post">
	    	<textarea name='inputText'></textarea>
	    	<input name='amc' placeholder='uti'></input>
	    	<button type="submit">Submit</button>
    	</form>
    </body>
</html>